<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2013 Google Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laquysoft.droidconnl"
    android:versionCode="12"
    android:versionName="6" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.laquysoft.droidconnl.ClueActivity"
            android:keepScreenOn="true"
            android:label="@string/title_activity_clue_message"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <category android:name="android.intent.category.DEFAULT" />

        </activity>
        <activity
            android:name="com.laquysoft.droidconnl.NavActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.laquysoft.droidconnl.TagsActivity"
            android:screenOrientation="portrait">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.laquysoft.droidconnl.NavActivity"/>
     </activity>
        <activity
            android:name="com.laquysoft.droidconnl.DecoyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.laquysoft.droidconnl.ScreenSlidePagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.laquysoft.droidconnl.ReauthActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.laquysoft.droidconnl.ZoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.laquysoft.droidconnl.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.laquysoft.droidconnl.VictoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.laquysoft.droidconnl.TriviaExplainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.laquysoft.droidconnl.TriviaQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.laquysoft.droidconnl.NFCShimActivity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="nfchunt.appspot.com"
                    android:pathPrefix="/f"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="nfchunt.appspot.com"
                    android:pathPrefix="/f"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <service
            android:name="com.laquysoft.droidconnl.ScoreService"
            android:enabled="true" />
        <service
            android:name="com.laquysoft.droidconnl.AchievementService"
            android:enabled="true" />
    </application>

</manifest>